body {
    background-color: rgb(168, 0, 0);
    display: flex;
    justify-content: center;
}

#slider {
    margin-right: 10px;
}

#slider-container {
    display: flex;
}

#title {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#slider-container, #canvas-container, #title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-container, #slider-container{
    color: gold;
}

#canvas-container {
    flex-direction: column;
    margin: 0 15px 0 15px;
}

#etchCanvas {
    border: 1px solid grey;
    background-color: lightgrey;
}

.alternative-title {
    font-family: cursive;
    font-size: 25px;
}

.circle {
    width: 175px;
    height: 175px;
    background-color: rgb(173, 163, 163);
    border-radius: 50%;
    margin-top: auto;
}

.text {
    color: gold"
}